
.button {
  color: white;
  background: $blue;
  border: none;
  display: inline-block;
  font-weight: 300;
  font-size: $font-size-l;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

.button--link {
  background: none;
}

.button--secondary {
  background: #888888;
}